body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.chillies-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.computer-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #ffffff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337fed 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-decoration: none;
}
